@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.header {
    padding: 10px;
}

.header .nav {
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .logo {
    height: 140px;
}

.link {
    width: 40%;

    display: flex;
    justify-content: space-between;
}

.link a {
    text-decoration: none;
    color: black;
}

.link a:hover {
    color: #CF9A3C;
}

.buttons {
    background-color: #CF9A3C;
    padding: 8px 16px;

    color: #fff;
}

.buttons a {
    text-decoration: none;
    color: black;
}

.buttons:hover {
    background-color: #fff;
    color: #CF9A3C;
    border: solid 1px #CF9A3C;
}

.main {
    width: 80%;
    margin: auto;
}

.main .hero {
    height: 400px;

    display: flex;
    overflow: hidden;
}

.main .hero .kiri {
    width: 50%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

.main .hero .kiri h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.main .hero .kiri span {
    font-size: 50px;
    color: #CF9A3C;
}

.main .hero .kiri p {
    margin-bottom: 40px;
}

.main .hero .kanan {
    width: 50%;
    background-image: url("coretan.png");
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
}

.main .hero img {
    height: 400px;
}

.main .hero .bungkusan-tombol {
    display: flex;
}

.bungkusan-tombol .tombol-kiri {
    background-color: #CF9A3C;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    margin-right: 10px;
}

.bungkusan-tombol .tombol-kiri:hover {
    background-color: #fff;
    color: #CF9A3C;
    border: solid 1px #CF9A3C;
}

.bungkusan-tombol .tombol-kanan {
    background-color: #fff;
    text-decoration: none;
    padding: 10px;
    color: #CF9A3C;
    border: solid 1px #CF9A3C;
}

.bungkusan-tombol .tombol-kanan:hover {
    background-color: #CF9A3C;
    color: #fff;
}

.main #about {
    padding: 20px;
    background-color: #CF9A3C;
    color: #fff;
}

.main #about h1 {
    font-size: larger;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.main #about p {
    padding: 20px;
}

.main #myskill {
    padding: 20px;
}

.main #myskill h1 {
    font-size: larger;
    padding: 20px;
    justify-content: center;
    display: flex;
}

div .logo {
    margin: 60px;
    float: left;

    display: flex;
    justify-content: space-between;
}